In [1]:
import pandas as pd
import numpy as np

## Print types

### Types of print using sep and end inside print statement

In [11]:
print('India','Australia','England','Germany',sep=' ', end='\n')

India Australia England Germany

In [12]:
print('India','Australia','England','Germany',sep='-', end='\t')
print('Netherlands',sep=' ', end='\n')

India-Australia-England-Germany	Netherlands

### Python supports 3 categories of data types:
 * Basic Types - (integer,float,complex,boolean and string)
 * Container Types - (List,Tuples, Sets and Dictionary)
 * User-defined Types - Class

In [60]:
# Int limit 1e308, Float limit 1.7e308

In [62]:
# Int,FLoat,Boolean,Complex
print (4,4.5,True,4+5j)

4 4.5 True (4+5j)

In [63]:
# String Can be inside '', " ", """ """
print('Cricket',"Cricket", """Cricket""")

Cricket Cricket Cricket

### List, Tuple, Set, Dictioanry

In [67]:
print('List={}, Tuple={}, Set={}, Dictioanry={}'.format(
    [1,2,3,4],(1,2,3,4,),{1,2,3,4},{'Name':"Ranjeet",'Type':"Data Scientist"}))

List=[1, 2, 3, 4], Tuple=(1, 2, 3, 4), Set={1, 2, 3, 4}, Dictioanry={'Name': 'Ranjeet', 'Type': 'Data Scientist'}

### Variables - containers for future use

In [71]:
# Dynamic Typing, no need to declare the variable, also python automatically decides variable type
name = "Ranjeet" 
print(name,type(name))

Ranjeet <class 'str'>

In [72]:
# Dynamic Binding, same variable can change data type
name = 4 
print(name,type(name))

4 <class 'int'>

### Declare variables in 1 line

In [73]:
a=1;b=2;c=3
print(a,b,c)

1 2 3

In [74]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [75]:
a=b=c=3
print(a,b,c)

3 3 3

### Keywords and Identifiers

In [76]:
#python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Rules for identifiers
* can only start with a letter or _
* followed by any letter, digit, _
* keywords cannot be used as identifiers

In [80]:
_name='Ranjeet'

### Taking input from user.  Note - Input is always in string. convert to other data type if required

In [84]:
y= input(prompt='1st number')
print (y,int(y)+1)

1st number78
78 79

### type is used to find type of any object

In [88]:
type([3,4]), type((4,5)), type({4,5}),type({'a':4}), type(3+5j), type('abc'), type(4.5)

(list, tuple, set, dict, complex, str, float)

In [89]:
# Assigning Variables in Python

In [90]:
a,b,c,d= 4,4.5,3j,'BCD'
print(a,b,c,d)

4 4.5 3j BCD

In [93]:
# None is used to assign a variable some value that can be used later
q= None
print(q)

None

### Operators in Python
* Arithmetic
* Comparison
* Logical
* Bitwise
* Assignment
* Identity
* Membership

In [99]:
print(2**5, 7%2, 7/2, 7//2) # power, mod, division, interger division

32 1 3.5 3

In [102]:
print(3>78, 3!=4, 2==4)

False True False

In [107]:
print(3 and 4 and 1 and 32, True and False) # logical and operation

32 False

In [108]:
print( 2 & 3) # bitwise and operation

2

In [109]:
#Assignment
a=3
a+=3
a

6

In [111]:
# a++, ++a # these are not allowed

In [112]:
# Identity means if 2 variables are at same memory location
a= 3;b=3; print(a is b)
c=[1,2,3];d=[1,2,3]; print(c is d)

True
False

In [114]:
# Membership tells if one thing is inside another thing
a= "Delhi"
print("D" in a, "i" not in a)

True False

In [115]:
v=(1,2,3); print(3 in v)

True

### If else statement

In [2]:
# favourite game = cricket, animal = dog
game, pet = input(prompt = "Enter game"), input(prompt = "Enter pet")

if game=='cricket' and pet =='dog':
    print('Correct choice')
    
elif game=='cricket' and pet !='dog':
    print('pet is incorrect, enter pet again')
    pet=input(prompt='Enter pet again')
    
    if(pet=='dog'):
        print('both are correct')
    else:
        print('again incorrect, logging out!')
        
else:
    print('both are incorrect')

Enter gamecricket
Enter petdef
pet is incorrect, enter pet again
Enter pet againdog
both are correct

### While Loop

In [3]:
number = int(input(prompt='Input the number') )
i=1
while i<=10:
    print('{} * {} = {}'.format(number,i,number*i))
    i=i+1

Input the number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

### For Loop  (can iterate through a range OR a sequence)

In [15]:
# these are examples of ranges

print('list = {}, set={}'.format( list(range(1,11,2)) , set(range(1,12,3))) )

list = [1, 3, 5, 7, 9], set={1, 10, 4, 7}

In [6]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [17]:
# this are examples of sequences

print("ABCD", list("Delhi"))

ABCD ['D', 'e', 'l', 'h', 'i']

In [19]:
for i in "Delhi":
    print(i)

D
e
l
h
i

In [22]:
for i in range(1,6):
    for j in range(0,i):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

### Break, Continue, Pass statements

In [25]:
for i in range(1,6):
    if i==3:
        break
    print(i,sep=' ',end=' ')

1 2

### Continue - ( skip this iteration, but continue the loop )

In [26]:
for i in range(1,6):
    if i==3:
        continue
    print(i,sep=' ',end=' ')

1 2 4 5

### Pass - ( placeholder for a loop )

In [27]:
for i in range(1,6):
    pass

### Inbuilt functions in Python - type, pow, min/max, round etc.

In [29]:
type(4.5)

float

In [30]:
int(3.4)

3

In [31]:
abs(-98)

98

In [37]:
pow(2,5)

32

In [39]:
max([1,2,3],default=100), min("Delhi")

(3, 'D')

In [42]:
round(22/7,4) # rounds to 4 places

3.1429

In [43]:
divmod(22,7)  # Quotient, Remainder

(3, 1)

In [45]:
bin(5), oct(5), hex(5)  # Binary, Octadecimal, Hexadecimal formats

('0b101', '0o5', '0x5')

In [47]:
id(4)    # Memory location of a variable

4381484344

In [49]:
ord('A')  # ASCII value of any character

65

In [51]:
len([4,5,6]) # length of any iterable

3

In [59]:
sum((4,2))   # sum of an iterable

6

In [61]:
help('sum')  # definition of any function

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

### Modules or Library - ( A python file which has many functions written inside it )

In [63]:
# help('modules') # gives list of modules included in your system

### Math

In [64]:
import math

In [65]:
math.factorial(4)

24

In [68]:
math.pi, math.e, math.ceil(4.6)

(3.141592653589793, 2.718281828459045, 5)

### Random

In [69]:
import random

In [77]:
random.random() , random.randint(1,100), random.randrange(4,20,1)

(0.7477754376702272, 26, 4)

In [78]:
a=[1,2,3,4,5]; random.shuffle(a) ; a

[2, 4, 5, 3, 1]

### Time

In [79]:
import time

In [86]:
time.time(), time.ctime() # time from midnight Jan 1 1970 till now, current time

(1710567443.690449, 'Sat Mar 16 11:07:23 2024')

In [88]:
print("Waiting for 4 seconds..."); time.sleep(4) ; print("Completed")

Waiting for 4 seconds...
Completed

### os Operating System

In [89]:
import os

In [94]:
os.getcwd()  # Shows path of current directory

'/Users/rnjt/Documents/Python Pratice'

In [95]:
os.listdir()  # Shows all files in current directory

['.ipynb_checkpoints',
 'Python Complete Notes.ipynb',
 'Python data types.ipynb']

### Strings

In [99]:
# Create using '', "", '''''',"""""" (Single, Double, Triple Quotes)

In [109]:
c1= 'Hello' ; c2="Hello2"; c3 = '''Hello3''' ; c4 ="""Hello4"""
c5="It's raining outside"
c6=str(6)
print(c1,c2,c3,c4,c5,c6)

Hello Hello2 Hello3 Hello4 It's raining outside 6

### Indexing in Strings

In [113]:
c='Hello World'
print(c[0], c[-1]) # First, Last

H d

### Slicing

In [114]:
print(c[1:6:2])

el

In [116]:
print(c[::-1]) # reverses the string

dlroW olleH

In [121]:
print(c[-8:-1:1],c[-8::1], )

lo Worl lo World

### Editing and Deleting in Strings (Strings are Immutable data object)

In [123]:
c[0]='A'

TypeError: 'str' object does not support item assignment

In [124]:
del c[:-3]

TypeError: 'str' object does not support item deletion

In [127]:
# Reassign and Complete deletion is allowed

In [130]:
c= 'Hello again'; print(c) ; del c

Hello again

Opeartions in Strings
* Arithmetic
* Relationship
* Logical
* Loops
* Membership

In [132]:
"Hello" + '- ' + "World"

'Hello- World'

In [133]:
print("*"*10)

**********

In [134]:
"Mumbai" > "Goa"
# Compares according to dictioany, lexiographically

True

In [136]:
"Delhi" > "Mumbai"

False

In [138]:
"mum" < "Mum" 
# Capital comes first

False

### Logical

In [139]:
# Empty, "" = False
# Non Empty, "abcd" = True

In [142]:
"" and "abc\\" , "abc" and "desc" , "" or "bcd"

('', 'desc', 'bcd')

### Loops in strings

In [146]:
c= "Hello World"
for i in c[:5]:
    print(i)

H
e
l
l
o

### Substrings or Memberships

In [147]:
c= "Hello World"
"Hel" in c

True

### String Functions - ( len, min/max, sorted etc. )

In [149]:
c="Delhi"
len(c), min(c), max(c), sorted(c)

(5, 'D', 'l', ['D', 'e', 'h', 'i', 'l'])

### Capitalize, Title, Upper, Lower, Swapcase

In [151]:
"It is raining".capitalize(), "It is raining".title(), "It is raining".upper(), "It is raining".swapcase()

('It is raining', 'It Is Raining', 'IT IS RAINING', 'iT IS RAINING')

### Count - ( counts # of times a substring occurs in a string )

In [152]:
"It is raining".count('in')

2

### Find / Index - (finds the index of substring in a string)

In [155]:
"It is raining".find('in') , "It is raining".find('x'), "It is raining".index('in')
# index will throw error if substring is not found

(8, -1, 8)

### endswith / startswith

In [158]:
"It is raining"[-3:]=='ing', "It is raining".startswith('It'), "It is raining".endswith('it')

(True, True, False)

### format - used to enter the entire string and then enter variables at the end

In [161]:
a=2;b=7
"The sum is {} and product is {}".format(a+b, a*b)

'The sum is 9 and product is 14'

In [164]:
print("The sum is {1} and product is {0}".format(a+b, a*b)) # this reverses the order
print("The sum is {sum} and product is {prod}".format(sum=a+b, prod=a*b)) # this is correct the order

The sum is 14 and product is 9
The sum is 9 and product is 14

### isalnum / isalpha / isnumeric / isdecimal / isdigit / isidentifier

In [172]:
"Happy100".isalnum(), "Happy".isalpha(), "100".isnumeric(), "Happy100".isdecimal(),"100".isdigit(),\
"Happy_100".isidentifier(), "Happy 100".isidentifier() # spaces are not allowed as identifer

(True, True, True, False, True, True, False)

### split - used to split the text basis space or any other identifier

In [176]:
"The sum is 14".split(), "The sum is 14".split('is')

(['The', 'sum', 'is', '14'], ['The sum ', ' 14'])

In [177]:
"The sum is 14".split()[-2:]

['is', '14']

### Join - reverse of split, joins items basis space or any other identifier

In [181]:
"_".join(['This','is','a','join']), " ".join(['This','is','a','join'])

('This_is_a_join', 'This is a join')

### Replace - replace a text with another text

In [182]:
'This is a join'.replace('join','replace')

'This is a replace'

### Strip - remove trailing and ending spaces in a string

In [183]:
'This is a strip   '.strip(), ' _This is also a strip   '.strip(),

('This is a strip', '_This is also a strip')

### List

In [199]:
# List is a data object which can store multiple items at once
# List is heterogeneous, Array is homogeneous
# List items are not continuously stored, hence slower. Array items are stored continuously, hence faster.
l = [1,2,3,5]

### Create, Access, Edit, Add, Delete in a List

In [208]:
# Every manipulation that we learnt in strings is applicable in list

In [204]:
L2= [1,2,3,[1,2]]; L3 = [1,2,'abcd',4+7j];  L4 = list("Delhi")
print(L2,L3,L4)

[1, 2, 3, [1, 2]] [1, 2, 'abcd', (4+7j)] ['D', 'e', 'l', 'h', 'i']

In [205]:
L4[::-1]

['i', 'h', 'l', 'e', 'D']

In [211]:
# Working with 2D and multidimensional Lists

In [212]:
L2[-1][1]

2

In [213]:
# Lists are Mutable

In [214]:
L2[0] = 100
L2

[100, 2, 3, [1, 2]]

### Adding an element
- Append always adds 1 item, 
- Extend always tries to add multiple item, 
- Insert adds one item at a fixed location

In [218]:
L2.append(['a','i','r']); L2

[100, 2, 3, [1, 2], ['a', 'i', 'r']]

In [219]:
L2.extend(['s','k','y']); L2

[100, 2, 3, [1, 2], ['a', 'i', 'r'], 's', 'k', 'y']

In [220]:
L2.insert(1,'high'); L2

[100, 'high', 2, 3, [1, 2], ['a', 'i', 'r'], 's', 'k', 'y']

### Deleting an element
- del removes the list completely, or the index mentioned inside
- remove removes the element without index. Just mention the element and remove
- pop removes the last element y default. Or the index mentioned 
- clear empties the list.

In [222]:
L_temp = [1,2,3,4,5,6,7]; del L_temp[0:2]
L_temp

[3, 4, 5, 6, 7]

In [223]:
L_temp.remove(7); L_temp

[3, 4, 5, 6]

In [225]:
L_temp.pop(1); L_temp

[3, 5, 6]

In [232]:
L_temp.clear(); L_temp

[]

### Operations in List

In [240]:
#concatenation , multiplication, iteration
L5 = [1,2,3,4]; L6 = [5,6,7,8];
L5+L6, L5*3 , 4 in L5

([1, 2, 3, 4, 5, 6, 7, 8], [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4], True)

In [239]:
for i in L6:
    print(i)

5
6
7
8

### Functions in List

In [247]:
# sorted does not change the original list
# sort changes the original list

In [245]:
min(L5), max(L5), sorted(L5), L5.sort(reverse=True)

(1, 4, [1, 2, 3, 4], None)

In [246]:
L5

[4, 3, 2, 1]

In [249]:
L5[0], L5[2], L5.index(2), L5.index(1)

(4, 2, 2, 3)

In [15]:
df = pd.read_csv('/Users/rnjt/Downloads/Coimbra_breast_cancer_dataset.csv')

In [16]:
print(df.shape)
df.head(2)

(116, 10)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1

In [19]:
import math, random # random generates random floating number b/w (0 and 1)

In [40]:
df['Resistin_2'],df['Resistin_3'] = df['Resistin']*(1+random.random()), df['Resistin']*random.random()
df.head(2)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1,10.275175,2.094611,7.99585,Resistin
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1,5.222562,1.064628,4.06405,Resistin

## Max of dataframe column wise and row wise

### Max in each column (axis=0)

In [41]:
df[['Resistin','Resistin_2']].max()
# 'Resistin_2'

Resistin       82.100000
Resistin_2    105.503711
dtype: float64

### Which row index has the max value in each column

In [59]:
df[['Resistin','Resistin_2','Leptin']].idxmax()
# 'Resistin_2'

Resistin       37
Resistin_2     37
Leptin        115
dtype: int64

In [58]:
df.iloc[36:39]

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column,max_2
36,66,31.238590,82,4.181,0.845677,16.2247,4.267105,3.29175,634.602,1,4.230108,0.862314,4.230108,Resistin_2,4.230108
37,69,35.092702,101,5.646,1.406607,83.4821,6.796985,82.10000,263.499,1,105.503711,21.507099,105.503711,Resistin_2,105.503711
38,60,26.349292,103,5.138,1.305395,24.2998,2.194280,20.25350,378.996,1,26.027033,5.305652,26.027033,Resistin_2,26.027033

### Max in each row from many columns (axis=1)

In [42]:
df['max'] = df[ ['Resistin','Resistin_2','Resistin_3'] ].max(axis=1)
df.head(1)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column
0,48,23.5,70,2.707,0.467409,8.8071,9.7024,7.99585,417.114,1,10.275175,2.094611,10.275175,Resistin

### Which column has the max value in each row

In [43]:
df['max_column']= df[ ['Resistin','Resistin_2','Resistin_3'] ].idxmax(axis=1)
df.head(3)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1,10.275175,2.094611,10.275175,Resistin_2
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1,5.222562,1.064628,5.222562,Resistin_2
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1,11.921727,2.430263,11.921727,Resistin_2

### Using numpy to find max of each row  (use idxmax)

In [44]:
df['max_2'] = np.max(df[ ['Resistin','Resistin_2','Resistin_3'] ], axis=1)
df.head(1)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column,max_2
0,48,23.5,70,2.707,0.467409,8.8071,9.7024,7.99585,417.114,1,10.275175,2.094611,10.275175,Resistin_2,10.275175

### Convert to Numpy to run faster

### df[ [columns] ].values and df[ [columns] ].to_numpy()   -> both are same

In [49]:
df[ ['Resistin','Resistin_2','Resistin_3'] ].values.max(axis=0)

array([ 82.1       , 105.503711  ,  21.50709869])

In [51]:
df[ ['Resistin','Resistin_2','Resistin_3'] ].to_numpy().max(axis=0)

array([ 82.1       , 105.503711  ,  21.50709869])