In [1]:
import pandas as pd
import numpy as np

## Print types

### Types of print using sep and end inside print statement

In [11]:
print('India','Australia','England','Germany',sep=' ', end='\n')

India Australia England Germany

In [12]:
print('India','Australia','England','Germany',sep='-', end='\t')
print('Netherlands',sep=' ', end='\n')

India-Australia-England-Germany	Netherlands

### Python supports 3 categories of data types:
 * Basic Types - (integer,float,complex,boolean and string)
 * Container Types - (List,Tuples, Sets and Dictionary)
 * User-defined Types - Class

In [60]:
# Int limit 1e308, Float limit 1.7e308

In [62]:
# Int,FLoat,Boolean,Complex
print (4,4.5,True,4+5j)

4 4.5 True (4+5j)

In [63]:
# String Can be inside '', " ", """ """
print('Cricket',"Cricket", """Cricket""")

Cricket Cricket Cricket

### List, Tuple, Set, Dictioanry

In [67]:
print('List={}, Tuple={}, Set={}, Dictioanry={}'.format(
    [1,2,3,4],(1,2,3,4,),{1,2,3,4},{'Name':"Ranjeet",'Type':"Data Scientist"}))

List=[1, 2, 3, 4], Tuple=(1, 2, 3, 4), Set={1, 2, 3, 4}, Dictioanry={'Name': 'Ranjeet', 'Type': 'Data Scientist'}

### Variables - containers for future use

In [71]:
# Dynamic Typing, no need to declare the variable, also python automatically decides variable type
name = "Ranjeet" 
print(name,type(name))

Ranjeet <class 'str'>

In [72]:
# Dynamic Binding, same variable can change data type
name = 4 
print(name,type(name))

4 <class 'int'>

### Declare variables in 1 line

In [73]:
a=1;b=2;c=3
print(a,b,c)

1 2 3

In [74]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [75]:
a=b=c=3
print(a,b,c)

3 3 3

### Keywords and Identifiers

In [76]:
#python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Rules for identifiers
* can only start with a letter or _
* followed by any letter, digit, _
* keywords cannot be used as identifiers

In [80]:
_name='Ranjeet'

### Taking input from user.  Note - Input is always in string. convert to other data type if required

In [84]:
y= input(prompt='1st number')
print (y,int(y)+1)

1st number78
78 79

### type is used to find type of any object

In [88]:
type([3,4]), type((4,5)), type({4,5}),type({'a':4}), type(3+5j), type('abc'), type(4.5)

(list, tuple, set, dict, complex, str, float)

In [89]:
# Assigning Variables in Python

In [90]:
a,b,c,d= 4,4.5,3j,'BCD'
print(a,b,c,d)

4 4.5 3j BCD

In [93]:
# None is used to assign a variable some value that can be used later
q= None
print(q)

None

### Operators in Python
* Arithmetic
* Comparison
* Logical
* Bitwise
* Assignment
* Identity
* Membership

In [99]:
print(2**5, 7%2, 7/2, 7//2) # power, mod, division, interger division

32 1 3.5 3

In [102]:
print(3>78, 3!=4, 2==4)

False True False

In [107]:
print(3 and 4 and 1 and 32, True and False) # logical and operation

32 False

In [108]:
print( 2 & 3) # bitwise and operation

2

In [109]:
#Assignment
a=3
a+=3
a

6

In [111]:
# a++, ++a # these are not allowed

In [112]:
# Identity means if 2 variables are at same memory location
a= 3;b=3; print(a is b)
c=[1,2,3];d=[1,2,3]; print(c is d)

True
False

In [114]:
# Membership tells if one thing is inside another thing
a= "Delhi"
print("D" in a, "i" not in a)

True False

In [115]:
v=(1,2,3); print(3 in v)

True

In [15]:
df = pd.read_csv('/Users/rnjt/Downloads/Coimbra_breast_cancer_dataset.csv')

In [16]:
print(df.shape)
df.head(2)

(116, 10)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1

In [19]:
import math, random # random generates random floating number b/w (0 and 1)

In [40]:
df['Resistin_2'],df['Resistin_3'] = df['Resistin']*(1+random.random()), df['Resistin']*random.random()
df.head(2)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1,10.275175,2.094611,7.99585,Resistin
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1,5.222562,1.064628,4.06405,Resistin

## Max of dataframe column wise and row wise

### Max in each column (axis=0)

In [41]:
df[['Resistin','Resistin_2']].max()
# 'Resistin_2'

Resistin       82.100000
Resistin_2    105.503711
dtype: float64

### Which row index has the max value in each column

In [59]:
df[['Resistin','Resistin_2','Leptin']].idxmax()
# 'Resistin_2'

Resistin       37
Resistin_2     37
Leptin        115
dtype: int64

In [58]:
df.iloc[36:39]

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column,max_2
36,66,31.238590,82,4.181,0.845677,16.2247,4.267105,3.29175,634.602,1,4.230108,0.862314,4.230108,Resistin_2,4.230108
37,69,35.092702,101,5.646,1.406607,83.4821,6.796985,82.10000,263.499,1,105.503711,21.507099,105.503711,Resistin_2,105.503711
38,60,26.349292,103,5.138,1.305395,24.2998,2.194280,20.25350,378.996,1,26.027033,5.305652,26.027033,Resistin_2,26.027033

### Max in each row from many columns (axis=1)

In [42]:
df['max'] = df[ ['Resistin','Resistin_2','Resistin_3'] ].max(axis=1)
df.head(1)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column
0,48,23.5,70,2.707,0.467409,8.8071,9.7024,7.99585,417.114,1,10.275175,2.094611,10.275175,Resistin

### Which column has the max value in each row

In [43]:
df['max_column']= df[ ['Resistin','Resistin_2','Resistin_3'] ].idxmax(axis=1)
df.head(3)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1,10.275175,2.094611,10.275175,Resistin_2
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1,5.222562,1.064628,5.222562,Resistin_2
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1,11.921727,2.430263,11.921727,Resistin_2

### Using numpy to find max of each row  (use idxmax)

In [44]:
df['max_2'] = np.max(df[ ['Resistin','Resistin_2','Resistin_3'] ], axis=1)
df.head(1)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification,Resistin_2,Resistin_3,max,max_column,max_2
0,48,23.5,70,2.707,0.467409,8.8071,9.7024,7.99585,417.114,1,10.275175,2.094611,10.275175,Resistin_2,10.275175

### Convert to Numpy to run faster

### df[ [columns] ].values and df[ [columns] ].to_numpy()   -> both are same

In [49]:
df[ ['Resistin','Resistin_2','Resistin_3'] ].values.max(axis=0)

array([ 82.1       , 105.503711  ,  21.50709869])

In [51]:
df[ ['Resistin','Resistin_2','Resistin_3'] ].to_numpy().max(axis=0)

array([ 82.1       , 105.503711  ,  21.50709869])